## Data Submission Examples
The final testing data set is a set of user reviews where we have withheld the scores. You will submit the following data sets as csv's with you model:
- A data set including review ids,user ids, and hostel ids from the testing data reviews with your predicted review score.
- A data set containing user ids from the final testing data set with the hostel your model recommends highest for them and your predicted review score.
***

###  Sample of test review data

In [176]:
test_review_data_sample.head(10)

,customer_id,review_id,review_text,HostelNumber,review_date,review_language
0,331154,5642315,nice hostel well priced and very well located ...,2332,2013-07-14 13:16:38,English
1,1145354,8537815,i had a wonderful stay at this hostel the staf...,79412,2016-01-16 03:54:46,English
2,1625354,7330678,the flying pig staff and location are amazing ...,641,2015-07-07 02:43:36,English
3,1803354,8577749,a nice new hostel in palolem not too far from ...,263648,2016-01-31 17:18:44,English
4,2222954,7400453,very and social place nice and clean breakfast...,6494,2015-07-27 09:53:37,English
5,3635954,6191010,this was one of the best hostel experience i h...,18575,2014-03-22 05:45:06,English
6,4142554,7716565,first things first the breakfast was really gr...,25012,2015-11-05 05:57:30,English
7,5773954,7841934,we stayed a few nights at wushanyi what we lik...,14154,2016-01-02 15:12:26,English
8,5967154,7770979,all pretty cool had a single room very functio...,28983,2015-11-30 10:08:46,English
9,7678154,5140130,the staff was very friendly and helpful they g...,2165,2012-11-27 14:23:49,English

### Example of predicted scores submission 
- Should contain a predicted score for every review in testing data
- please be sure to include customer_id, review_id, and HostelNumber with your predicted score

In [177]:
predicted_score_submission_example.head(10)

   customer_id  review_id  HostelNumber  predicted_score
0       331154    5642315          2332               14
1      1145354    8537815         79412               73
2      1625354    7330678           641               16
3      1803354    8577749        263648               12
4      2222954    7400453          6494               45
5      3635954    6191010         18575               11
6      4142554    7716565         25012               23
7      5773954    7841934         14154               40
8      5967154    7770979         28983               57
9      7678154    5140130          2165               43

### Example of hostel recommendation submission
- should contain a recommendation and score for every user in testing reviews data 
- please be sure to include customer_id with your HostelNumber recommendation and predicted_score

In [175]:
recommended_hostel_submission_example.head(10)

   customer_id  reccomended_hostel_number  predicted_score
0       331154                      64493               64
1      1145354                      54634               87
2      1625354                      12123                3
3      1803354                      31341               43
4      2222954                      72516               50
5      3635954                      16169               37
6      4142554                      37126               27
7      5773954                      67256               90
8      5967154                      96175               79
9      7678154                      95511               65